
/****** Object:  Table [dbo].[Tank45000]    Script Date: 09/05/2014 03:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tank45000](
	[Dept] [int] NULL,
	[Volume] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Tank45000] ([Dept], [Volume]) VALUES (1, 19)
INSERT [dbo].[Tank45000] ([Dept], [Volume]) VALUES (3, 98)
INSERT [dbo].[Tank45000] ([Dept], [Volume]) VALUES (5, 211)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[Tank22500]    Script Date: 09/05/2014 03:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tank22500](
	[Dept] [int] NULL,
	[Volume] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Tank22500] ([Dept], [Volume]) VALUES (1, 9)
INSERT [dbo].[Tank22500] ([Dept], [Volume]) VALUES (3, 48)
INSERT [dbo].[Tank22500] ([Dept], [Volume]) VALUES (5, 103)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
